.form {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding-bottom: 30px;
}
.signupBtn {
  align-self: flex-end;
}
.sign-up {
  padding: 4em !important;
}
.error {
  color: red;
}
.select {
  z-index: 999;
}

.submit {
  z-index: 20;
}

.required::after {
  content: '*';
  position: absolute;
  color: red;
}