html {
    font-size: 62.5%;
}

.topic-info {
    display: flex;
    justify-content: space-between;
    position: relative;

}
#main-col {
    width: 95vw;
}

.markdown-text {
    flex: 1;
    padding: 3em;
    margin: 3em !important;

}