#CaseDetail-container {
  width: 100%;
  max-width: 900px;
  height: 100%;
}
#card-panel-wrapper {
  width: 100%;
}
.flex-space-btw {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
i {
  margin-bottom: 13.224px;
}
/* h5 {
  display: flex;
  align-items: flex-end;
} */
h5 i {
  margin-bottom: 0;
  padding-right: 8px;
}
a {
  color: #000;
  cursor: pointer;
}
a.btn {
  width: auto;
}
#navBack {
  margin-bottom: 0;
}
#card-panel-wrapper > a {
  display: flex;
  align-items: flex-end;
}
#favorite-icon {
  color: red;
  cursor: pointer;
}
.breadcrumb, .breadcrumb:before {
  color: black;
}
.go-back {
  padding-top: 16px;
}
.go-back:hover {
  text-decoration: underline;
}
#modal1 {
  height: 160px;
}