#CaseDetail-container {
  width: 90%;
  max-width: 900px;
  /* height: 100%; */
}
#card-panel-wrapper {
  width: 100%;
  margin-top: 16px;
}
#card-panel-wrapper>.card-panel{
  padding: 0;
}
.flex-space-btw {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.card-panel > h6{
  width: 50%;
  padding: 0;
  
}
.card-panel .row{
  padding: 16px;
  margin: 0;
}
.card-panel p, .card-panel h6{
  margin: 0;
  padding: 0;
}
.columns-wrapper > h6{
  border-right: 1px solid black;
}
i {
  margin-bottom: 13.224px;
}

h5 i {
  margin-bottom: 0;
  padding-right: 8px;
}
a {
  color: #000;
  cursor: pointer;
}
.material-icons{
  margin: 0;
}
a.btn {
  width: auto;
}
#navBack {
  margin-bottom: 0;
}
#card-panel-wrapper > a {
  display: flex;
  align-items: flex-end;
}
#favorite-icon {
  color: red;
  cursor: pointer;
}
.breadcrumb, .breadcrumb:before {
  color: black;
}
.go-back {
  margin-top: 20px;
}
.go-back:hover {
  text-decoration: underline;
}
#modal1 {
  height: 160px;
}