.caselist-wrapper {
  width: 100%;
  min-width: 400px;
}
.card-wrapper {
  padding: 0;
}
.card-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.card-content:nth-child(1) {
  text-align: left;
}
.result-header {
  text-align: left;
}
h6.header {
  margin: 0 0 6.67px;
}
.list-utils {
  display: flex;
}
.court-year {
  text-align: right;
}
li.card-wrapper {
  padding: 0;
}
#List-title {
  padding-left: calc(10.5px * 2);
}