.sidenav .user-view {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 16px 32px;
  width: 100%;
  height: 64px;
  background: #000;
}
#desktop {
  -webkit-transform: translateX(0%);
  transform: translateX(0%);
  margin-right: 0;
  padding: 0;
  width: 250px;
}
#mobile {
  z-index: 99;
  width: 250px;
}
.subheader {
  padding: 0 32px;
}
.background > img {
  width: 100%;
}
.disabled-link{
  pointer-events: none;
}
.sidenav {
  z-index: 99;
}
.sidenav .collapsible-header:hover, .sidenav .collapsible-body li a:hover {
  background-color: #fff;
  width: 100%;
}
.sidenav .collapsible-header {
  padding: 0 32px;
}
.collapsible-header:hover, .collapsible-header:hover:focus {
  background: white;
}

.sidenav .collapsible-body ul li {
  padding: 0 16px;
  background-color: #fff;
}

.selected {
  color: #4de100;
}
#sideNav-col {
  z-index: 99;
}
.sidenav-overlay {
  z-index: 10;
}