.account-overview-wrapper {
  align-self: stretch;
}
.no-padding {
  padding: 0;
}
.list-card {
  position: relative;
  height: 100%;
  width: 100;
}
/* #list-section-title {
  margin-left: calc(10.875px * 2);
} */
#note-section-title {
  padding-left: calc(10.875px * 2);
}
#modalNote {
  height: 50%;
}
#button-addnote {
  padding: 0;
}
.h1-style {
  padding: 0 16px;
}
.Lists--buttons {
  background: teal;
  cursor: pointer;
  color: #FFF;
  border-radius: 2px;
  height: 100%;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.buttons-flex {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.margin-0 {
  margin: 0;
}
.margin-left-10875 {
  margin-left: 10.875px;
}
.margin-right-8 {
  margin-right: 8px;
}
.margin-right-10875 {
  margin-right: 10.875px;
}
.margin-right-16 {
  margin-right: 16px;
}