.position-btn {
  
  
}
.card .card-image .card-title {

  background: rgba(0,0,0,.3);
  top: 0;
  height: 2.5em; 
  line-height: 18px;

}
/* .card {
  height: 22em;
} */

.card-image {
  width: 100%;
  height: 100%;

}

.card-image > a {
  position: absolute;
  bottom: 0;
  right: 0;
  cursor: not-allowed;
}

.card-image > a:hover {
  cursor: not-allowed;
}