
.sidenav .user-view {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 16px 16px 8px;
}
a.brand-logo {
  height: 100%;
}
.subheader {
  padding: 0 32px;
}
a.dropdown-trigger {
  padding: 0 30px;
  white-space: nowrap;
}
a.dropdown-trigger:focus {
  outline: 0;
}

.dropdown-content li>span {
  white-space: nowrap;
}
#brand-logo {
  font-size: 19px;
  padding: 0 15px;
}
