.caselist-wrapper {
  width: 100%;
}
.card-wrapper {
  padding: 0;
}
.card-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}
.card-content h6 {
  margin: 0;
}
.card-content>div {
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.card-content:nth-child(2) {
  align-items: flex-end;
}

.list-utils {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 0 10.875px;
}
.court-year {
  text-align: right;
  align-items: flex-end;
}
li.card-wrapper {
  padding: 0;
}
.query-input {
  display: flex;
  flex-direction: column;
}
.filters-wrapper {
  display: flex;
}
.filters-wrapper div {
  margin-right: 16px;
}