@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");
* {
  box-sizing: border-box;
}
html,
body {
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.87);
  font-weight: normal;
  font-family: "Open Sans";
}
body {
  font-size: 14px;
  display: flex;
  flex-direction: column;
  margin: 0;
  background-color: #fff;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}

.content,
.footer {
  padding-left: 250px;
}

#root {
  height: 100%;
}
.App-container {
  height: 100%;
}

#header-row {
  margin: 0;
}

#sideNav-col {
  position: fixed;
  top: 64px;
  left: 0;
  padding: 0;
  width: 250px;
  height: 100%;
  z-index: 9999;
}
.active {
  background: #e8e8e8;
}
#mobile {
  z-index: 9999;
}
#main-col {
  padding: 0;
  height: 100%;
  border-left: 1px solid #e8e8e8;
  overflow: auto;
  flex-grow: 1;
  background: #f9f8f8;
}

main {
  min-height: 100vh;
}
h3,
h5 {
  margin: 0;
  padding: 0;
}

.display-flex {
  display: flex;
}
.flex-justify-center {
  justify-content: center;
}
.flex-align-center {
  align-items: center;
}
.flex-justify-sp-btw {
  justify-content: space-between;
}
form div.input-field {
  padding: 8px !important;
}
/*
a {
  color: #fff;
  text-decoration: none;
}

h1, .brand-logo {
  font-family: Cinzel;
}
h1 {
  font-weight: 500;
  text-transform: uppercase;
} */

@media only screen and (max-width: 992px) {
  .header,
  .content,
  .footer {
    padding-left: 0;
  }
  #desktop,
  #mobile {
    display: none;
  }
}

.nav-wrapper {
  z-index: 999;
  /*position: fixed !important;*/
}
