* {
  box-sizing: border-box;
}
html, body {
  line-height: 1.5;
  color: rgba(0,0,0,0.87);
  font-weight: normal;
}
body{
  font-size: 14px;
  display: flex;
  flex-direction: column;
  margin: 0;
  background-color: #e8e8e8;
}
.header, .content, .footer {
  padding-left: 300px;
}
#root {
  height: 100%;
}
.App-container {
  height: 100%;
}

#header-row {
  margin: 0;
}
/*#content-row {
  margin: 0;
  height: 100%;
  padding-top: 64px; 
}*/
#sideNav-col {
  position: fixed;
  top: 0;
  left: 0;
  padding: 0;
  width: 300px;
  height: 100%;
}
#mobile {
  z-index: 333333333333333;
}
#main-col {
  padding: 0;
  height: 100%;
  border-left: 1px solid #e8e8e8;
  overflow: auto;
  flex-grow: 1;
  background: #f9f8f8; 
}

/* main {
  height: 100%;
}
a {
  color: #fff;
  text-decoration: none;
}

h1, .brand-logo {
  font-family: Cinzel;
}
h1 {
  font-weight: 500;
  text-transform: uppercase;
} */

@media only screen and (max-width : 992px) {
  .header, .content, .footer {
    padding-left: 0;
  }
  #desktop {
    display: none;
  }
}
